<div class="jumbotron">
  <h2 style="color:Crimson">Weather Facts</h2>
  <!--<p><strong>Snowy Weather Facts:</strong><br> The world's largest snowflake was recorded in the Guinness Book of Records, at
    38 cm wide and 20 cm thick. The snow flake fell at Fort Keogh, Montana, USA on 28 January 1887.</p>-->
  <p>With tyres for his mouth and trees for arms, ‘Angus’ - the tallest snowman, was made by residents of Bethel, Maine, USA,
    measuring a whopping 34.63 metres. ‘Angus’ took 2 weeks to build, and was completed on 17 February 1999.</p>
  <!--<p><strong>Hot and Cold weather facts:</strong><br> Al'Aziziyah in Libya has the highest recorded temperature on earth at
    a sweltering 58°C on the 13th Sept, 1922.</p>
  <p>The lowest ever recorded world temperature was at Vostok Station, Antarctica on the 21 July 1983 at a bitter -89.6°C</p>
  <p><strong>Wet and Dry facts about weather:</strong><br> Mawsynram in India is noted as being the wettest place on earth is
    with over 11 meters of rain falling every year.</p>
  <p>In contrast, Antofagasta in Chile is the driest place on the planet getting less than 0.1mm per year, and with many years
    having no rainfall whatsoever.</p>
  <p><strong>Sunny facts:</strong><br> Yuma in the state of Arizona has over 4,000 hours of sunshine per year - making it the
    sunniest place on the planet!</p>
  <p>The South Pole is the least sunny place - only 182 days a year get sunshine.</p>-->
  <!--<p><strong>Windy Facts:</strong><br> The windiest place on earth is Commonwealth Bay, Antarctica where winds of 200mph have
    been recorded.</p>
  <p>The strongest ever recorded wind was on Mt Washington, New Hampshire, USA at an amazing 231mph.</p>
  <p><strong>Stormy Weather facts:</strong><br> Nearly 2,000 thunderstorm cells are estimated over the planet at any given time.</p>
  <p>The U.S. has over 100,000 thunderstorms every year, with over 16 million taking place across the world in a year.</p>-->
  <!--<p>9 out of 10 lightning bolts strike land rather than oceans.</p>-->
  <!--<p>A storm named John was the Longest-lasting Pacific tropical storm continuing for 31 days. As it crossed the dateline twice,
    it changed status from a hurricane to a typhoon and back to a hurricane.<br> &quot;Ginger&quot;, was the longest-lasting
    Atlantic tropical storm, which spun around the open ocean for 28 days in 1971.</p>-->
<!--
  <p>The greatest snowfall recorded was on Mt Rainier, Washington State, USA - Over 30metres fell during the winter of 1972.</p>
  <p><strong>Weird Weather Facts:</strong><br> On 14th April, 1986 Bangladesh was hit by the biggest hail stones ever recorded
    - weighing in at over 1kg each - killing 92 people.</p>-->

  <br><br>
  <!--<p>Source: http://www.climateandweather.net/world-weather/weather-facts.html </p>-->
</div>