<!-- Fixed navbar -->
<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#myNavbar" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div id="myNavbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-left">
          <li><a [routerLink]="['/']" class="navbar-brand"> Angular App <span class="glyphicon glyphicon-home"></span> </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-middle">
          <li class="disabled"> <a style="color:black">  . . . . . . . . . . . . . . .</a> </li>
          <li routerLinkActive="active"> <a routerLink="/markets">Markets</a></li>
          <li routerLinkActive="active"> <a routerLink="/sports">Sports</a></li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Weather <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li routerLinkActive="active"><a [routerLink]="['/weather/yahoo']">About Weather</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/weather/facts']">Weather Facts</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/weather/globalwarming']">Global Warming</a></li>
  </ul>
</li>
<li routerLinkActive="active"> <a routerLink="/currency">Currency</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<!-- /nav bar -->

<div class="container">
  <br><br><br><br>  
    <router-outlet></router-outlet> 
</div>
<!-- /container -->