<div class="container">
  <div class="jumbotron">
    <h2 style="color:Crimson">Markets</h2> 
    <div class="list-group">
      <a class="list-group-item active">
        <h4 class="list-group-item-heading">NYSE</h4>
        <p class="list-group-item-text">American stock exchange </p>
      </a>
      <a class="list-group-item">
        <h4 class="list-group-item-heading">DOW</h4>
        <p class="list-group-item-text">Dow Jones Industrial </p>
      </a>
      <a class="list-group-item">
        <h4 class="list-group-item-heading">Nasdaq</h4>
        <p class="list-group-item-text">World's second-largest American stock exchange </p>
      </a>
      <a class="list-group-item">
        <h4 class="list-group-item-heading">Sensex</h4>
        <p class="list-group-item-text">Standard </p>
      </a>
    </div>
  </div>
</div>