<div class="container">
  <div class="jumbotron">
    <h2 style="color:Crimson">Sports</h2>
    <div class="list-group">
      <a class="list-group-item active">
        <h4 class="list-group-item-heading">NFL</h4>
        <p class="list-group-item-text">National Football League</p>
      </a>
      <a class="list-group-item">
        <h4 class="list-group-item-heading">NBA</h4>
        <p class="list-group-item-text">National Basketball Association</p>
      </a>
      <a class="list-group-item">
        <h4 class="list-group-item-heading">IPL</h4>
        <p class="list-group-item-text">Indian Premier League </p>
      </a>
      <a class="list-group-item">
        <h4 class="list-group-item-heading">NHL</h4>
        <p class="list-group-item-text">National Hockey League</p>
      </a>
    </div>
  </div>
</div>